{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>
<h1>This is the Account Settings page </h1>





{% block content %}

<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <h1>Welcome, {{ current_user.first_name }}!</h1>
    {% else %}
        <h1>You are not logged in.</h1>
    {% endif %}
</body>
</html>

    <div class="col-md-3 md-margin-bottom-40">
        <img class="img-responsive profile-img margin-bottom-20" src="assets/img/team/img32-md.jpg" alt="">

        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
            <li class="list-group-item">
                <a href="page_profile.html"><i class="fa fa-bar-chart-o"></i> Overall</a>
            </li>
           
            <li class="list-group-item">
                <a href="/manage_users"><i class="fa fa-group"></i> Users</a>
            </li>
            <li class="list-group-item">
                <a href="page_profile_projects.html"><i class="fa fa-cubes"></i> My Projects</a>
            </li>
            <li class="list-group-item">
                <a href="page_profile_comments.html"><i class="fa fa-comments"></i> Comments</a>
            </li>
            <li class="list-group-item">
                <a href="page_profile_history.html"><i class="fa fa-history"></i> History</a>
            </li>
            <li class="list-group-item">
                <a href="page_profile_settings.html"><i class="fa fa-cog"></i> Settings</a>
            </li>
        </ul>

        
       
        
        <hr>

        <!--Notification-->
        <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
            <a href="#"><i class="fa fa-cog pull-right"></i></a>
        </div>
        <ul class="list-unstyled mCustomScrollbar margin-bottom-20 _mCS_1 mCS-autoHide" data-mcs-theme="minimal-dark"
            style="position: relative; overflow: visible;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                    <li class="notification">
                        <i class="icon-custom icon-sm rounded-x icon-bg-red icon-line icon-envelope"></i>
                        <div class="overflow-h">
                            <span><br>
                               
                            
                        </div>
                    </li>
                    
                    <li class="notification">
                        <i class="icon-custom icon-sm rounded-x icon-bg-yellow icon-line fa fa-bolt"></i>
                        <div class="overflow-h">
                            <span><strong>Sami Masmoudi</strong> Logged in</span>
                            <small>2 Minutes ago</small>
                        </div>
                    </li>
                    <li class="notification">
                        <img class="rounded-x mCS_img_loaded" src="assets/img/testimonials/img1.jpg" alt="">
                        <div class="overflow-h">
                            <span><strong>Sami Masmoudi</strong> Upload a new file</span>
                            <small>29/04 11:01 am</small>
                        </div>
                    </li>
                    <li class="notification">
                        <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line fa fa-comments"></i>
                        <div class="overflow-h">
                            <span><strong>Aziz Ketata</strong> Logged in</span>
                            <small>23/04 1:07 pm</small>
                        </div>
                    </li>
                    <li class="notification">
                        <img class="rounded-x mCS_img_loaded" src="assets/img/testimonials/img6.jpg" alt="">
                        <div class="overflow-h">
                            <span><strong>Aziz Ketata</strong> Created a new account !</span>
                            <small>23/04 1:05 pm</small>
                        </div>
                    </li>
                </div>
            </div>
           
        </ul>
        <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
        <!--End Notification-->

        <div class="margin-bottom-50"></div>

        
    </div>
    
</body>

{% endblock %}