{% extends "base.html" %}
<title>{% block title %}Sign UP{% endblock %}</title>

{% block content %}
</head>

<body>
    <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                User Management
            </div>
            <div class="p-3">
                <table class="table-responsive w-full rounded">
                    <thead>
                        <tr>
                            <th class="border w-1/4 px-4 py-2">ID</th>
                            <th class="border w-1/4 px-4 py-2">Name</th>
                            <th class="border w-1/4 px-4 py-2">Email</th>
                            <th class="border w-1/6 px-4 py-2">Storage</th>
                            <th class="border w-1/5 px-4 py-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        {%print (user.name) %}
                        <tr>
                            <td class="border px-4 py-2">{{ user.id }}</td>
                            <td class="border px-4 py-2">{{ user.first_name }}</td>
                            <td class="border px-4 py-2">{{ user.email }}</td>
                            <td class="border px-4 py-2">0</td>

                            <td class="border px-2 py-2">
                                <button onclick="editItem()">Edit</button>

                                <!-- Delete Button -->

                                <form method="POST" action="{{ url_for('views.delete_user', user_id=user.id) }}">
                                    <button onclick="deleteItem()">Delete</button>
                                </form>
                            </td>

                            {% endfor %}
                    </tbody>
                </table>
                <div style="Width:100px;">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>


            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}