{% extends "base.html" %}
<title>{% block title %}Sign UP{% endblock %}</title>


{% block content %}
<form method="POST" action = "/signup">
    <h3 style="text-align: left" > Sign Up</h3>
    <div class="form-group" style="display: table-row">
        <label for="email" style="display:table-cell">Email address</label>
        <input type="email" style="display:table-cell" class="form-control" id="email" name="email" placeholder="Enter email" />

    </div>
    <div class="form-group" style="display: table-row">
        <label for="firstName" style="display:table-cell">First Name</label>
        <input type="text" style="display:table-cell" class="form-control" id="firstName" name="firstName" placeholder="Enter First Nasme" />

    </div>
    <div class="form-group" style="display: table-row">
        <label for="password1" style="display:table-cell">Password</label>
        <input type="password" style="display:table-cell" class="form-control" id="password1" name="password1" placeholder="Enter Password" />

    </div>
    <div class="form-group" style="display: table-row">
        <label for="password2" style="display:table-cell">Password</label>
        <input type="password" style="display:table-cell" class="form-control" id="password2" name="password2" placeholder="Confirm Password" />

    </div>
    <br />
    <button type="submit" class= "btn btn-primary">Submit</button>
</form>

{% endblock %}